{% extends "_page.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="fade-in screen-max">
    <article>
        <h2>Hello</h2>

        <p>I'm a web developer with a BS in Communications pursuing a <br class="desktop-only"> BS in Computer Science.</p>

        <p>Previously, I worked as a web developer for The Charles NYC.</p>

        <p>I'm currently working on a <a href="https://github.com/mattConn/cssg">static site generator</a> and a <a href="https://github.com/mattConn/sdl-game">2D game engine</a>.</p>

        <p>I also did an independent study on <a href="https://github.com/mattConn/differential-geometry-exercises">differential geometry</a> in Fall 2018.</p>

        <p>Contact: matthew.b.connelly [at] gmail.com</p>
    </article>
</main>

{% endblock %}