{% extends "_page.html" %}
{% block title %}Portfolio{% endblock %}

{% block content%}
    <main class="fade-in screen-max portfolio">
        <h2 id="portfolio">Portfolio</h2>
        <p>A list of some projects I've worked on professionally.</p>
        <hr>

        {% for item in portfolio %}
            {% if loop.index % 2 != 0 %}
                <div class= "portfolio-work-row">
                {% endif %}
                <div class="portfolio-work">
                    <a class="btn-reveal-content" href="{{item.url}}">
                        <h3>{{item.text}}</h3>
                        <div class="btn-reveal-content-inner__ctn">
                            <div class="btn-reveal-content-inner__fg" style="background-image: url({{item.img_fg}})" ></div>
                            <div class="btn-reveal-content-inner__bg" style="background-image: url({{item.img_bg}})"></div>
                        </div>
                    </a>
                    {# end reveal content #}
                </div>
                {# end portfolio-work #}
                {% if not loop.last%}
                    <hr class="mobile-only">
                {% endif %}
                {% if loop.index % 2 == 0 %}
                </div>
                {# end portfolio-work-row #}
            {% endif %}
            {% endfor%}

        </main>
        {% include "_footer.html" %}
    {% endblock %}