// breakpoints
$tablet: 880px;
$desktop: 1000px;

// colors
$black: #000000b8;
$dark-black:#000000c4;
$white: #fff;
$blue: #00aee5;
$grey: #7f7d7d;
$light-grey:#c7c7c7;

// mixins
@mixin breakpoint($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

// animations
@keyframes fade-in {
    from { opacity: 0;}
    to { opacity: 1;}
}

@keyframes fade-out {
    from { opacity: 1;}
    to { opacity: 0;}
}

.fade {
    &-in { animation: fade-in .1s; }
    &-out { animation: fade-out .1s; }
}

.hidden {
    display: none;
}

.mobile {
    &-only {
        @include breakpoint($desktop)
        {
            display: none;
        }
    }
}
.desktop {
    &-only {
        display: none;
        @include breakpoint($desktop)
        {
            display: initial;
        }
    }
}

// elements
a, p, h1, h2, h3, span, li, br {
    &::selection{
        background-color: $light-grey;
    }
}
a {
    color: $blue;
    &:focus { outline: none; }
    border-bottom: solid 1px transparent;
    transition: .09s color, .09s border-bottom;

    &:hover {
        text-decoration: none;
        color: $dark-black;
        border-bottom: solid 1px $black;
    }

    &.jump-anchor { //page jump anchor
        visibility: hidden;
    }
}

li {
    list-style: none;
}

p {
    margin-bottom: 1.3em;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}