// breakpoints
$tablet: 880px;
$desktop: 1000px;

// colors
$black: #000000b8;
$dark-black:#000000c4;
$white: #fff;
$grey: #7f7d7d;
$light-grey:#c7c7c7;

// mixins
@mixin breakpoint($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}



.hidden {
    display: none;
}

.mobile {
    &-only {
        @include breakpoint($desktop)
        {
            display: none;
        }
    }
}
.desktop {
    &-only {
        display: none;
        @include breakpoint($desktop)
        {
            display: initial;
        }
    }
}

// elements
a, p, h1, h2, h3, span, li, br {
    &::selection{
        background-color: $light-grey;
    }
}
a {

    &:focus { outline: none; }

    border-bottom: none;
    transition: .09s color, .09s border-bottom;

    &.jump-anchor { //page jump anchor
        visibility: hidden;
    }

    &:hover {
        text-decoration: none;
        color: $dark-black;
        border-bottom: solid 1px $black;
    }
    color: $grey;
}

li {
    list-style: none;
}

p {
    margin-bottom: 1.3em;
}