#wrapper {
    &-outer {
        display: block;
        width: 100%;
    }

    &-inner {
        margin: 0 auto;
        padding: 40px;
        font-size: 1.6em;

        @include breakpoint($desktop) {
            width: 80%;
            max-width: 800px;
        }
    }
}

header {
    &#global {
        h1 {
            font-size: 2em;
        }

        nav {
            margin: 40px 0 20px 0;
        }

        ul {
            padding: 0;
            li {
                display: inline-block;
            }
        }
    }
}