#wrapper {
    &-outer {
        display: block;
        width: 100%;
        background-color: $white;
    }

    &-inner {
        margin: 0 auto;
        padding: 40px;
        font-size: 1.6rem;
        color: $black;
        background-color: $white;

        @include breakpoint($desktop) {
            width: 80%;
            max-width: 800px;
        }
    }
}

header {
    &#global {
        h1 {
            font-size: 2em;
            @include breakpoint($desktop)
            {
                font-size: 1.78em;
            }
        }

        nav {
            margin: 40px 0 20px 0;
        }

        ul {
            font-size: 1.4rem;
            text-align: center;
            padding: 0;
            li {
                display: inline-block;
            }
        }
    }
}